.DS_Store
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
bin/datomic-*
out/
resources/tmp/
resources/public/js/bin-debug
resources/public/js/bin
resources/public/cljs

/figwheel_server.log
